NODE_ENV=development
PORT=3001
JWT_SECRET=
JWT_EXPIRES_IN=7d
DATABASE_URL=
REDIS_HOST=swiftride-redis
REDIS_PORT=6379
REDIS_PASSWORD=
FRONTEND_URL=http://localhost:3000
EMAIL_SERVICE_URL=http://email-service:3002
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RIDER_SERVICE_URL=http://rider-service:3001
TRIP_SERVICE_URL=http://trip-service:3005/api/v1/trips