
NODE_ENV=development
PORT=3004

# PostgreSQL (Azure)
DATABASE_URL=

# Redis (Docker)
REDIS_URL=redis://:<password>@swiftride-redis:6379
REDIS_TLS=false

# Trip Service API
TRIP_SERVICE_URL=http://trip-service:3003
