
REDIS_HOST=swiftride-redis
REDIS_PORT=6379
REDIS_PASSWORD=
DATABASE_URL=
PORT=3003
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET= same as the rider service
JWT_EXPIRES_IN=2d
EMAIL_SERVICE_URL=http://email-service:3002
RIDER_SERVICE_URL=http://rider-service:3001
TRIP_SERVICE_URL=http://trip-service:3005/api/v1/trips


