
@import url('https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css');

@import "tailwindcss";


.pickup-marker:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.dropoff-marker:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.mapboxgl-ctrl-attrib a {
  color: rgba(0, 0, 0, 0.75) !important;
  text-decoration: none !important;
}

.mapboxgl-ctrl-attrib a:hover {
  color: rgba(0, 0, 0, 1) !important;
}